In [2]:
import pickle
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random
import scipy.sparse as sp

np.random.seed(2024)

In [3]:
with open("C:/Users/LENOVO/Downloads/tmall/tstMat.pkl", "rb") as f:
    data = pickle.load(f)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_7700\2339327754.py:2: DeprecationWarning: Please use `coo_matrix` from the `scipy.sparse` namespace, the `scipy.sparse.coo` namespace is deprecated.
  data = pickle.load(f)

In [22]:
data

<47939x41390 sparse matrix of type '<class 'numpy.float64'>'
	with 261939 stored elements in COOrdinate format>

In [8]:
ui = pd.read_csv('data/Youshu/user_item.txt', sep='\t', header=None)

In [9]:
ui.columns = ['user_id', 'item_id']

In [10]:
ui

        user_id  item_id
0             0    21504
1             1     3634
2             1    26236
3             1    28723
4             2    19959
...         ...      ...
138510     8038     3971
138511     8038    10637
138512     8038    16253
138513     8038    23197
138514     8038    29330

[138515 rows x 2 columns]

In [11]:
ui_train = {}
ui_test = {}

for u in range(len(ui.user_id.unique())):
    # ui_train.append(ui[ui.user_id == u].iloc[:int(len(ui[ui.user_id == u]) * 0.9)])
    # ui_test.append(ui[ui.user_id == u].iloc[int(len(ui[ui.user_id == u]) * 0.9):])
    items = ui[ui.user_id == u].item_id.tolist()
    np.random.shuffle(items)
    ui_train[u] = items[:int(len(items) * 0.9)]
    ui_test[u] = items[int(len(items) * 0.9):]

In [12]:
train_indices = []
for x, y in ui_train.items():
    for i in y:
        train_indices.append([x, i])

test_indices = []
for x, y in ui_test.items():
    for i in y:
        test_indices.append([x, i])

train_indices = np.array(train_indices)
test_indices = np.array(test_indices)

In [23]:
train_values = np.ones(len(train_indices))
test_values = np.ones(len(test_indices))
shape = (max(ui.user_id), max(ui.item_id))

train_ui_graph = sp.coo_matrix((train_values, (train_indices[:,0], train_indices[:,1])), shape=(8039, 32770))
test_ui_graph = sp.coo_matrix((test_values, (test_indices[:,0], test_indices[:,1])), shape=(8039, 32770))

In [25]:
pickle.dump(train_ui_graph, open("data/Youshu/trnMat.pkl", "wb"))
pickle.dump(test_ui_graph, open("data/Youshu/tstMat.pkl", "wb"))

In [20]:
len(train_ui_graph.indptr)

8040

In [24]:
test_ui_graph

<8039x32770 sparse matrix of type '<class 'numpy.float64'>'
	with 17959 stored elements in COOrdinate format>